<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Document</title>
</head>
<body>
    <div class="con">
        
        <button class="btn">next</button>
        <button class="btn2">pause</button>
        <button class="newMatch">new Match</button>
        <button class="start">start</button>
        <hr>
        <button class="audience">audience</button>
        <button class="audienceNext">audienceNext</button>
        <button class="returnHome">returnHome</button>
        

    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script src="admin.js"></script>
</body>
</html>