<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Document</title>
</head>
<body>
    <div class="con">
        
        <button class="btn">start or next</button>
        <button class="btn2">pause</button>
        <button class="newMatch">new Match</button>
        <!-- <br>teamA: <select class="team teamA"><option value="">team</option></select>
        teamB: <select class="team teamB"><option>team</option></select> -->
        <!-- <div class="teamDone">
            <span>List Done</span>
            <hr>
        </div> -->

    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script src="admin.js"></script>
</body>
</html>