<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/client.css">
    <title>Document</title>
</head>
<body>


    <div class="quscon">
        <div class="qus">ماهو اسمك</div>
        <div class="time">0</div>
        <div class="ops">
            <div class="op op1">عمر</div>
            <div class="op op2">حسن</div>
            <div class="op op3">خالد</div>
            <div class="op op4">عبدالله</div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
</body>
</html>