<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/client.css">
    <title>Document</title>
</head>
<body>


    <div class="quscon">
        <div class="score">
            <div class="team teamA">اسم الكلية
                <p class="point">0</p>
            </div>
            <div class="team teamB">اسم الكلية
                <p class="point">0</p>
            </div>
            
        </div>
        <div class="qus">
            <span class="text">ماهو اسمك</span>
            <img class="shape" src="/img/vector 5.png" alt="photo">
        </div>
        
        <div class="middle">
            <div class="teamicon teamAicon">
                <img src="/img/teamA.png" alt="teamA">
            </div>
            <div class="time">20</div>
            <div class="teamicon teamBicon">
                <img src="/img/teamB.png" alt="teamB">
            </div>
        </div>
        <div class="ops">
            <div class="op op1">
                <span class="text">عمر</span>
                <img class="shape" src="/img/vector 1.png" alt="photo">
            </div>
            <div class="op op2">
                <span class="text">عمر</span>
                <img class="shape" src="/img/vector 1.png" alt="photo">
            </div>
            <div class="op op3">
                <span class="text">عمر</span>
                <img class="shape" src="/img/vector 1.png" alt="photo">
            </div>
            <div class="op op4">
                <span class="text">عمر</span>
                <img class="shape" src="/img/vector 1.png" alt="photo">
            </div>
        </div>
        
        <div class="bgShape"><img src="/img/bgShape.png" alt="bgShape"></div>
        <div class="bgShape2"><img src="/img/bgShape2.png" alt="bgShape2"></div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
</body>
</html>