<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/client.css">
    <link rel="stylesheet" href="/css/result.css">
    <title>Document</title>
</head>
<body>


    <div class="quscon">

        <div class="score">
            <div class="team teamA">
                <p class="name">اسم الكلية</p>
                <p class="point">0</p>
                <div class="role"></div>
            </div>
            <div class="team teamB">
                <p class="name">اسم الكلية</p>
                <p class="point">0</p>
                <div class="role"></div>
            </div>
            
        </div>
        

        <div class="qus clip center">
            <div class="bgqus clip center">
                <p class="text center">السؤال</p>
            </div>
        </div>
        <div class="shadowQus"></div>
    
        <div class="middle">
            <div class="teamicon teamAicon">
                <img src="/img/teamA.png" alt="teamA">
            </div>
            <div class="time">20</div>
            <div class="teamicon teamBicon">
                <img src="/img/teamB.png" alt="teamB">
            </div>
        </div>
        <div class="countQus center">1/10</div>
        <div class="ops">
            <div class="op clip">
                <div class="bgop clip center">
                    <span class="text">الخيار الاول</span>
                </div>
            </div>

            <div class="op clip">
                <div class="bgop clip center">
                    <span class="text">الخيار الثاني</span>
                </div>
            </div>

            <div class="op clip">
                <div class="bgop clip center">
                    <span class="text">الخيار الثالث</span>
                </div>
            </div>
            
            <div class="op clip">
                <div class="bgop clip center">
                    <span class="text">الخيار الرابع</span>
                </div>
            </div>
        </div>
        
        <div class="bgShape"><img src="/img/bgShape.png" alt="bgShape"></div>
        <div class="bgShape2"><img src="/img/bgShape2.png" alt="bgShape2"></div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
</body>
</html>