<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/result.css">
    <link rel="stylesheet" href="/css/font.css">
    <title>Document</title>
</head>
<body>
    <div class="con">
        <div class="title center">
            مسابقة كأس جامعة الأنبار للتحدي المعرفي الرقمي
        </div>
        <div class="body center">    
            <div class="team teamA">
                <div class="icon"><img src="" alt=""></div>
                <p class="teamName">اسم الكلية</p>
                <div class="leader"><img src="/img/womanLogo.jpg" alt=""></div>
                <div class="memberTeam">
                    <div class="member"><img src="/img/manLogo.jpg" alt=""></div>
                    <div class="member"><img src="/img/womanLogo.jpg" alt=""></div>
                    <div class="member"><img src="/img/manLogo.jpg" alt=""></div>
                    <div class="member"><img src="/img/womanLogo.jpg" alt=""></div>
                    <div class="member"><img src="/img/manLogo.jpg" alt=""></div>
                </div>
            </div>
            <div class="mid center">
                <span class="vs">vs</span>
                <span class="score">
                    <span class="scoreA">0</span>
                    <span class="scoreMid">-</span>
                    <span class="scoreB">0</span>
                </span>
            </div>
            <div class="team teamB">
                <div class="icon"><img src="" alt=""></div>
                <p class="teamName">اسم الكلية</p>
                <div class="leader"><img src="/img/manLogo.jpg" alt=""></div>
                <div class="memberTeam">
                    <div class="member"><img src="/img/manLogo.jpg" alt=""></div>
                    <div class="member"><img src="/img/womanLogo.jpg" alt=""></div>
                    <div class="member"><img src="/img/manLogo.jpg" alt=""></div>
                    <div class="member"><img src="/img/womanLogo.jpg" alt=""></div>
                    <div class="member"><img src="/img/manLogo.jpg" alt=""></div>
                </div>
            </div>
        </div>
        <div class="bgShape"><img src="/img/bgShape.png" alt="bgShape"></div>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/result.js"></script>
</body>
</html>