<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/wait.css">
    <title>Document</title>
</head>
<body>
    
    <div class="con">

        <div class="main center">
            <div class="team">
                <div class="logoTeam"></div>
                <div>
                    <p class="text text2">دور</p>
                    <p class="text nameTeam">كلية علوم الحاسوب</p>
                </div>
            </div>

            <div class="time">
                <p class="text text1">ستبدا المسابقه بعد</p>
                <div class="timer center">
                    <p class="text timeText">3s</p>
                </div>
            </div>
        </div>


            <!-- shapes -->
        <div class="bgShape"><img src="/img/bgShape.png" alt="bgShape"></div>
        
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/wait.js"></script>
</body>
</html>