<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/welcome.css">
    <link rel="stylesheet" href="/css/font.css">
    <title>Document</title>
</head>
<body>
    <div class="con">
        <div class="logos">
            <div class="logo logo1">
                <img src="/img/actLogo.png" alt="activitiesLogo">
            </div>
            <div class="logo logo2 center">
                <img src="/img/anbar.png" alt="anbarLogo">
            </div>
            <div class="logo logo3">
                <img src="/img/csLogo.png" alt="csLogo">
            </div>
        </div>

        <div class="title center">
            مسابقة كأس جامعة الأنبار للتحدي المعرفي الرقمي
        </div>

        <div class="shape">
            <img src="/img/shape11.png" alt="shape11">
        </div>
    </div>

    

    <script src="welcome.js"></script>
</body>
</html>