<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/welcome.css">
    <link rel="stylesheet" href="/css/font.css">
    <title>Document</title>
</head>
<body>
    <div class="con">
        <div class="logos">
            <div class="logo logo1">
                <img src="/img/actLogo.jpg" alt="activitiesLogo">
            </div>
            <div class="logo logo2 center">
                <img src="/img/anbar.png" alt="anbarLogo">
            </div>
            <div class="logo logo3">
                <img src="/img/csLogo.png" alt="csLogo">
            </div>
        </div>

        <div class="title center">
            مسابقة كأس جامعة الأنبار للتحدي المعرفي الرقمي
        </div>

        <div class="preparedBy">
            <div class="supervisor">
                <span class="tit">إشراف</span>
                <p>أ.م.د نصر خالد عبدالرزاق</p>
            </div>
            <div class="namecon">
                <div class="followers">
                    <span class="tit">متابعة</span>
                    <p>م.د مكارم عبدالواحد عبدالجبار</p>
                    <p>م. عبدالقادر نبيه مولود</p>
                    <p>م.م مصطفى صفوك ابراهيم</p>
                </div>

                <div class="designers">
                    <span class="tit">تصميم</span>
                    <p>عمر سلام محمد</p>
                    <p>هالة صباح علي</p>
                </div>
            </div>
        </div>



        <div class="shape">
            <img src="/img/shape11.png" alt="shape11">
        </div>
    </div>

    
    <script src="/socket.io/socket.io.js"></script>
    <script src="welcome.js"></script>
</body>
</html>