<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/winner.css">
    <link rel="stylesheet" href="/css/font.css">
    <title>Document</title>
</head>
<body>


    <div class="con">
        <div class="title center">
            مسابقة كأس جامعة الأنبار للتحدي المعرفي الرقمي
        </div>

        <div class="trofy center">
            <div class="trofy1">
                <img src="/img/1st.png" alt="">
                <div class="name name1st center">اسم الكلية</div>
            </div>
            <div class="trofy2">
                <img src="/img/2nd.png" alt="">
                <div class="name name2nd center">اسم الكلية</div>
            </div>
        </div>

        <div class="winEffect">
            <img src="/img/winEffect.gif" alt="winEffect">
        </div>
        
        
        <div class="bgShape"><img src="/img/bgShape.png" alt="bgShape"></div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io()
        
        socket.emit('getwinners')
        socket.on('getwinners', data=>{
            document.querySelector('.name1st').innerHTML = `${data.name1}`
            document.querySelector('.name2nd').innerHTML = `${data.name2}`
        })
    </script>
</body>
</html>