*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg: #925353;
    --font: white;
}
.quscon{
    /* transform: translateY(); */
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( to right,#D2CDCC, #A88780);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.score{
    width: 100%;
    height: 12%;
    /* background-color: red; */
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: auto auto;
    z-index: 2;
}

.team{
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    border: #DBDBDB solid 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: white;
    text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
}
.teamA{
    border-right: 0;
}
.teamB{
    border-left: 0;
}

.qus{
    width: 60%;
    height: 25%;
    font-size: 42px;
    color: var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: white solid 1px; */
    /* border-radius: 40px; */
}
.text{
    position: absolute;
    text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
}
.shape{
    width: 100%;
}

.bgShape{
    width: 630px;
    height: 350px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgShape img{
    width: 100%;
    opacity: 38%;
}

.bgShape2{
    width: 180px;
    height: 200px;
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 0;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgShape2 img{
    width: 80%;
}


.ops{
    width: 90%;
    /* background-color: red; */
    display: grid;
    grid-template-columns: auto auto;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    z-index: 2;
}

.op{
    width: 400px;
    height: 80px;
    margin: 20px 100px;
    border-radius: 40px;
    font-size: 42px;
    text-align: center;
    color: var(--font);
    /* background-color: var(--bg); */
    display: flex;
    justify-content: center;
    align-items: center;
}









.middle{
    width: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}
.teamicon{
    width: 100px;
    height: 90px;
    background-color: white;
    border-radius: 50%;
}
.teamicon img{
    width: 100%;
}
.teamAicon{
    position: absolute;
    right: 10%;
    background-color: white;
}
.teamBicon{
    position: absolute;
    left: 10%;
    /* background-color: blue; */
}

/* -------timer--------- */
.time{
    width: 200px;
    height: 70px;
    background-color: #925353;
    border: 2px solid white;
    font-size: 42px;
    box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}