*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg: #925353;
    --font: white;
}
.quscon{
    /* transform: translateY(); */
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( to right,#D2CDCC, #A88780);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
}

.score{
    width: 100%;
    height: 14%;
    display: grid;
    grid-template-columns: auto auto;
    z-index: 2;
}

.team{
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    border: white solid 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: white;
    /* text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25); */
    text-shadow: 1px 1px 20px white;
}
.teamA{
    border-right: 0;
    position: relative;
}
.teamB{
    border-left: 0;
    position: relative;
}

.role{
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #00a100;
    position: absolute;
    transition: all 0.3s;
    opacity: 0%;
}

/* .role:hover{
    opacity: 0%;
} */

.teamA .role{
    left: 20%;
}
.teamB .role{
    right: 20%;
}

.shape{
    width: 100%;
}

.bgShape{
    width: 630px;
    height: 350px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgShape img{
    width: 100%;
    opacity: 38%;
}

.bgShape2{
    width: 180px;
    height: 200px;
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 0;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgShape2 img{
    width: 80%;
}


.shadowQus{
    /* background-color: #00a100; */
    width: 810px;
    height: 20px;
    box-shadow: 0px 18px 20px white;
    position: absolute;
    top: 190px;
    z-index: 0;
}
.qus{
    position: relative;
    margin: 40px 0 20px 0;
    width: 900px;
    height: 100px;
    background-color: white;
    z-index: 1;
}

.bgqus{
    width: 98%;
    height: 90%;
    background-color: #925353;
    padding: 0 40px;
}
.text{
    text-align: center;
    font-size: 36px;
    color: white;
    text-shadow: 1px 1px 20px white;
}


.ops{
    width: 90%;
    display: grid;
    grid-template-columns: auto auto;
    z-index: 10;
    /* border: 1px solid red; */
    justify-content: center;
    margin-top: 20px;
    gap: 20px 100px;
}

.op{
    width: 400px;
    height: 80px;
    font-size: 42px;
    text-align: center;
    color: var(--font);
    background-color: white;
    /* background-color: var(--bg); */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
red #9e3232 
green #329e32
*/
.bgop{
    width: 97%;
    height: 90%;
    background-color: #925353;
}
/* help style */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clip{
    clip-path: polygon(5% 0%, 95% 0%, 99% 50%, 95% 100%, 5% 100%, 1% 50%);
}
/* help style */




.middle{
    width: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}
.teamicon{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
}
.teamicon img{
    width: 100%;
}
.teamAicon{
    position: absolute;
    right: 10%;
    background-color: white;
    box-shadow: 1px 1px 20px white;
}
.teamBicon{
    position: absolute;
    left: 10%;
    box-shadow: 0px 0px 20px white;
}

/* -------timer--------- */
.time{
    width: 200px;
    height: 70px;
    background-color: #925353;
    border: 2px solid white;
    font-size: 42px;
    box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 1px 1px 10px yellow;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    position: relative;
}

.countQus{
    width: 100px;
    height: 30px;
    border-radius: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #925353;
    background-color: #ffffff;
    border: 2px solid #925353;
    position: absolute;
    top: 15%;
}
