*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg: #925353;
    --font: white;
}
.con{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( to right,#D2CDCC, #A88780);
    
}
.side{
    width: 8%;
    height: 100vh;
    z-index: 10;
    background-color: var(--bg);
    position: absolute;
    border-left: 6px solid white;
}

.shape{
    width: 100%;
}

.bgShape{
    width: 630px;
    height: 350px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgShape img{
    width: 100%;
    opacity: 38%;
}

.bgShape2{
    width: 280px;
    height: 200px;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgShape2 img{
    width: 100%;
}

