*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg: #925353;
    --font: white;
    --lineWeght: 5px;
    --lineColor: white;
    --top: 3%;
    --top2: 13%;
    --top3: 7.8%;
    --top4: 20.8%;
}
.con{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( to right,#D2CDCC, #A88780);
    
}
.side{
    width: 8%;
    height: 100vh;
    z-index: 10;
    background-color: var(--bg);
    position: absolute;
    border-left: 6px solid white;
}

.shape{
    width: 100%;
}

.bgShape{
    width: 630px;
    height: 350px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgShape img{
    width: 100%;
    opacity: 38%;
}

.bgShape2{
    width: 280px;
    height: 200px;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgShape2 img{
    width: 100%;
}




.matchs{
    height: 100vh;
    /* border: 1px solid red; */
    position: absolute;
    right: 10%;
    z-index: 999;
}
.matchs2{   
    right: 29%;
}

.matchs3{
    right: 47%;
}

.matchs4{
    right: 65%;
}

.matchs5{
    /* border: 1px solid red; */
    right: 84%;
}


.match{
    width: 180px;
    height: 30px;
    background-color: #925353;
    border: 1px solid white;
    border-radius: 20px;
    position: absolute;
}

.match2::before,.match3::before,.match4::before,.m50::before{
    content: "";
    display: block;
    width: 68px; /* عرض الـ div بالكامل */
  height: 41px; /* طول الـ div بالكامل */
  background-color: var(--lineColor); /* لون الخطوط */
  
    position: absolute;
    top: -24%;
    right: -38%;

  
  /* هذا هو الجزء السحري لمحاكاة الخطوط المفتوحة */
  -webkit-mask-image: 
    linear-gradient(to right, black var(--lineWeght), transparent var(--lineWeght)), /* قناع للعمود الأيسر (سمكه 2px) */
    linear-gradient(to top, black var(--lineWeght), transparent var(--lineWeght));  /* قناع للصف السفلي (سمكه 2px) */
  mask-image: 
    linear-gradient(to right, black var(--lineWeght), transparent var(--lineWeght)),
    linear-gradient(to top, black var(--lineWeght), transparent var(--lineWeght));
    
  -webkit-mask-position: 100% 0, 0 center; /* وضع الأقنعة لتلتقي */
  mask-position: 100% 0, 0 center;
  
  -webkit-mask-size: var(--lineWeght) 100%, 100% var(--lineWeght); /* تحديد أحجام الأقنعة (عمودي، ثم أفقي) */
  mask-size: var(--lineWeght) 100%, 100% var(--lineWeght);
  
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.match3::before{
    height: 90px;
    top: -106%;
    width: 53px;
    right: -30%;
}
.match4::before{
    height: 162px;
    top: -240%;
    width: 54px;
    right: -30%;
}

.match1::after,.match2::after,.match3::after,.match4::after{
    content: "";
    display: block;
    width: 17px;
    height: 5px;
    position: absolute;
    top: 40%;
    left: -10%;
    background-color: white;
}
.m1::after,.m14::after{
    width: 275px;
    left: -155%;
}

.m1{top: var(--top);}
.m2{top: calc(var(--top) + 7%);}
.m3{top: calc(var(--top) + 13%);}
.m4{top: calc(var(--top) + 21%);}
.m5{top: calc(var(--top) + 27%);}
.m6{top: calc(var(--top) + 35%);}
.m7{top: calc(var(--top) + 41%);}
.m8{top: calc(var(--top) + 49%);}
.m9{top: calc(var(--top) + 55%);}
.m10{top: calc(var(--top) + 63%);}
.m11{top: calc(var(--top) + 69%);}
.m12{top: calc(var(--top) + 77%);}
.m13{top: calc(var(--top) + 83%);}
.m14{top: calc(var(--top) + 90%);}

/* --- */

.m21{top: var(--top2);}
.m22{top: calc(var(--top2) + 14%);}
.m23{top: calc(var(--top2) + 28%);}
.m24{top: calc(var(--top2) + 42%);}
.m25{top: calc(var(--top2) + 56%);}
.m26{top: calc(var(--top2) + 70%);}

/* --- */
.m31::before,.m34::before{
    height: 66px;
    top: -66%;
    width: 53px;
    right: -30%;
}
.m31{top: var(--top3);}
.m32{top: calc(var(--top3) + 26%);}
.m33{top: calc(var(--top3) + 54%);}
.m34{top: calc(var(--top3) + 80.1%);}

/* --- */
.m41{top: var(--top4);}
.m42{top: calc(var(--top4) + 54%);}
/* -- */
.m50::before{
    width: 64px;
    right: -36%;
    height: 333px;
    top: -550%;
}
.m50{top: 48%;}









/* action class */
.winner{
    background-color: yellow;
}
.loss{
    background-color: red;
}