*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.con{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( to right,#D2CDCC, #A88780);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.team{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon{
    width: 200px;
    height: 200px;
    background-color: #D9D9D9;
    border-radius: 50%;
}
.teamName{
    font-size: 30px;
    margin: 20px 0;
}
.leader{
    width: 60px;
    height: 60px;
    background-color: #D9D9D9;
    border-radius: 50%;
}
.memberTeam{
    width: 450px;
    height: 60px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px 0;
}
.member{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #737373;
}
.vs{
    font-size: 40px;
    transform: translateY(-100px);
}